html {
  height: 100%;
  width: 100%;
}

body { 
  background: linear-gradient(to top, #4E729B, #D1EAFB);
  background-attachment: fixed;
}

.card00{
  width: 200px;
  height:100px;
  padding:10px;
  margin:20px;
  background: white;
  border-radius:100px;
  box-shadow: inset 0 0 10px #796DBE, 2px 5px 10px #796DBE;
  overflow: hidden;
  box-sizing:border-box;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 2s;
}
.card00:hover{ width: 220px;
             height:120px;}

.card0{
  width: 200px;
  height:100px;
  padding:10px;
  margin:20px;
  background: white;
  float:left;
  border-radius:10px;
  box-shadow: inset 0 0 10px #796DBE, 2px 5px 10px #796DBE;
  box-sizing:border-box;
}
.card1{
  width: 450px;
  height:550px;
  padding:10px;
  margin:20px;
  background: white;
  float:left;
  border-radius:10px;
  box-shadow: inset 0 0 10px #796DBE, 2px 5px 10px #796DBE;
  box-sizing:border-box;
  position: relative;

}
.card2{
  width: 450px;
  height:500px;
  padding:10px;
  margin:20px;
  background: white;
  float:left;
  border-radius:10px;
  box-shadow: inset 0 0 10px #796DBE, 2px 5px 10px #796DBE;
  box-sizing:border-box;
  margin: 5px 0 0 0;
}

.card3{
  width: 450px;
  height:500px;
  padding:10px;
  margin:20px;
  background: white;
  border-radius:10px;
  box-shadow: inset 0 0 10px #796DBE, 2px 5px 10px #796DBE;
  box-sizing:border-box;
}


.card4{
  width: 180px;
  height:180px;
  padding:10px;
  margin:20px;
  background: white;
  border-radius:50px;
  box-shadow: inset 0 0 10px #796DBE, 2px 5px 10px #796DBE;
  overflow: hidden;
  box-sizing:border-box;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s;
}

.card4:hover{ width: 200px;
             height:200px;}

.card5{
  width: 80%;
  height:40%;
  padding:30px;
  margin:20px;
  background: white;
  border-radius:50px;
  box-shadow: inset 0 0 10px #796DBE, 2px 5px 10px #796DBE;
  overflow: hidden;
  box-sizing:border-box;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  }

.card6{
  width: 450px;
  height:500px;
  padding:30px;
  margin:20px;
  background: white;
  border-radius:50px;
  box-shadow: inset 0 0 10px #796DBE, 2px 5px 10px #796DBE;
  overflow: hidden;
  box-sizing:border-box;
  }

.card7{
  width: 950px;
  height:500px;
  padding:30px;
  margin:20px;
  background: white;
  border-radius:50px;
  box-shadow: inset 0 0 10px #796DBE, 2px 5px 10px #796DBE;
  overflow: hidden;
  box-sizing:border-box;
  }
.card8{
  width: 500px;
  height:180px;
  padding:18px;
  margin:20px;
  background: white;
  border-radius:50px;
  box-shadow: inset 0 0 10px #796DBE, 2px 5px 10px #796DBE;
  overflow: hidden;
  box-sizing:border-box;
  }

.card9{
  width: 300px;
  height:150px;
  margin-left: 12%;
  background: white;
  border-radius:50px;
  box-shadow: inset 0 0 10px #796DBE, 2px 5px 10px #796DBE;
  overflow: hidden;
  box-sizing:border-box;
  }

h1{
  text-align:center;
  color:white;
  text-shadow: 2px 5px 10px black;
  font-family: "Arsenal", sans-serif;
}
.zg{font-size: 42px;}

#mm{margin-left: 82%;}

#mm,.zg,h2{
  text-align:center;
  color:white;
  text-shadow: 2px 5px 10px black;
  font-family: "Ruslan Display", sans-serif;
}
p{
  color:#5A3F87;
  vertical-align: middle;
  text-align:center;
  font-family: "Yeseva One", serif;
}
.p2{
  color:#5A3F87;
  vertical-align: middle;
  text-align:left;
  font-family: "Yeseva One", serif;
}
ul{
  color:#5A3F87;
  font-weight: bold;
  vertical-align: middle;
  text-align:left;
  font-family: "Yeseva One", serif;
  font-size: 30px;
  padding: 25px;
}

li{
  color:#5A3F87;
  text-align:left;
  font-family: "Yeseva One", serif;
}


a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-align: center;}
a:hover{ color:#4e729b;}

.ah{
  color:#5A3F87 ;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
}

.ah:hover{ color:#4e729b;}


.container{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr) ;
}
#cont{ display: flex;
      flex-direction: left;
}
.qw{height: 90%;
   width: 90%;
  rotate: 122deg;
  margin: -10px 0 0 20px;
  transition: 1s;
  }

.qw:hover{
  height: 100%;
   width: 100%;
}



#pac{width: 300px;}

.item,.ter{
  padding: 10px;
  
  ;
}


.item_2{
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  margin: -120px 0 0 0;
}

.item_3{
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
  margin: -180px 0 0 5%;
}

.item_4{
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 4;
  margin: -90px 0 0 -60px;

}
.item_5{
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 1;
  height: 20%


}
.item_6{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  margin: 5% 0 0 10%;
  height: 90%;
  width: 90%;
}


.item_7{
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  display: flex;
  justify-content: center;
  height: 40%;
  width: 100%;
  margin: 20% 0 0 25%;
}
 
.item_8{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
  position: absolute;
  
}

.item_9{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  
}

.item_10{
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 4;
  margin: 5% 0 0 30%;
  width: 80%;
  display: flex;
  flex-direction: column;
  position: absolute;
 
}

.item_11{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  position: absolute;
  
  
}
.item_12{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  justify-content: center;
   margin: 12% 0 0 0%;
  height: 40%;
  width: 70%;
}
.item_13{
  margin: 0 0 0 0;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  height: 20%;
  width: 100%;
  
  }
.item_14{
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
  margin: 10% 0 0 0;
  display: flex;
  padding-left: 10%;
  }

.item_15{
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
  padding-left: 10%;
  display: flex;
  }
.item_16{
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 3;
  
  padding-left: 10%;
  display: flex;
  margin: -10% 0 0 0;
  
  }
.item_17{
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 4;
  padding-left: 10%;
  display: flex;
  margin: -22% 0 0 0;

  }
.item_18{
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  height: 20%;
  width: 50%;
  margin: -130% 0 0 60%;
}

.lup{height: 60%;
     width: 40%;
    }



#tw{height: 100%;
   width: 80%;
    margin: -55px 0 0 24px;
   transition: 1s;}

#tw:hover{height: 110%;
   width: 90%;
    transition: 1s;
  
}

.cntnr{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 10px;
}
.plpl_1{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3
}
.plpl{
  padding: 10px;
  border: 1px solid black;
}

.yeseva-one-regular {
  font-family: "Yeseva One", serif;
  font-weight: 400;
  font-style: normal;
}


.ter1{
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 1;
  margin: -180px 0 0 0;
}

.ter2{
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2;
  margin: -10px 0 0 0;
}

.ter4{
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 3;
  margin: -50px 0 0 0;
}

.ter5{
  grid-column-start: 5;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
  margin: 130px 200px 0 0;
} 


.img {
  position:absolute;
  left: 310px;
  top: 140px;
}

.img_1 {
  position:absolute;
  left: 360px;
  top: 500px;
}

.cr4 {
  position:relative ;
  left: 1000px;
  top: 600px;
}
.cr5 {
  position:relative ;

  top: 900px;
}

.img_2 {
  position:absolute;
  left: 896px;
  top: 90px;
}


.p1{
  color:#5A3F87;
  font-weight: bold;
  vertical-align: middle;
  text-align: left;
  font-size: 30px;
  font-family: "Yeseva One", serif;
}
li{
  list-style-type: none;
}
li:before{color: #5A3F87;
         content:"●" }

#hl{position: absolute;
   bottom: 0;
   right: 0;}

#map{position: absolute;
     height: 25%;
     width: 35%;
     margin: -2% 0 0 55%;
    }
#btm{height: 60%;
     width: 70%;}

#btmw{height: 60%;
   width: 60%;}

.card4_{
  width: 180px;
  height:180px;
  padding:10px;
  margin-left:700px;
  margin-top: 70px;
  background: white;
  border-radius:50px;
  box-shadow: inset 0 0 10px #796DBE, 2px 5px 10px #796DBE;
  overflow: hidden;
  box-sizing:border-box;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s;
}

.card4_:hover{ width: 200px;
             height:200px;}

.card4_1{
  width: 180px;
  height:180px;
  padding:10px;
  margin-left:700px;
  margin-top: 150px;
  background: white;
  border-radius:50px;
  box-shadow: inset 0 0 10px #796DBE, 2px 5px 10px #796DBE;
  overflow: hidden;
  box-sizing:border-box;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s;
}

.card4_1:hover{ width: 200px;
             height:200px;}

.ter6{
  grid-column-start: 7;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 1;
  display: flex;
  justify-content: center;
  height: 40%;
  width: 100%;
  margin: 0 0 0 0;
}

.ter7{
  grid-column-start: 7;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  justify-content: center;
  height: 40%;
  width: 100%;
  margin: 300px -400px -200px 120px;
}

#mapmax{
  height: 100%;
  width: 80%;
}

.cardb{
  width: 700px;
  height:300px;
  padding:10px;
  margin:20px;
  background: white;
  float:left;
  border-radius:10px;
  box-shadow: inset 0 0 10px #796DBE, 2px 5px 10px #796DBE;
  box-sizing:border-box;
  margin: -2% 0 0 0;
  
}
.img_b {
  position:absolute;
  left: 830px;
  top: 98px;
}


.card-a{
  width: 600px;
  height: 600px;
  padding:10px;
  margin:20px;
  background: white;
  border-radius:10px;
  box-shadow: inset 0 0 10px #796DBE, 2px 5px 10px #796DBE;
  box-sizing:border-box;  
}

#ppp{height: 30%;
     width: 20%;
    }

.ter8{
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: center;
  height: 40%;
  width: 100%;
  margin: -1050px 0 0 -370px ;
}

.ter9{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: center;
  margin: -250px 0 0 -730px;
}

.ter10{
  grid-column-start: 2;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: center;
  height: 40%;
  width: 100%;
  margin: -595px 0 0 350px ;
}

.ter11{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: center;
  margin: -250px -730px 0 0;
}

.ter12{
  grid-column-start: 2;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: center;
  height: 40%;
  width: 100%;
  margin: 100px 0 0 350px ;
}

.ter13{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: center;
  margin: -250px -930px 0 0;
}

.ter14{
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: center;
  height: 40%;
  width: 100%;
  margin: -913px 0 0 -370px ;
}

.ter15{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: center;
  margin: -250px 0 0 -730px;
}

.ter12{
  grid-column-start: 2;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: center;
  height: 40%;
  width: 100%;
  margin: 100px 0 0 350px ;
}

.ter13{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: center;
  margin: -350px -730px 0 0;
}

.ter14{
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: center;
  height: 40%;
  width: 100%;
  margin: -605px 0 0 -370px ;
}

.ter15{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: center;
  margin: -360px 0 0 -730px;
}

.ter16{
  grid-column-start: 2;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: center;
  height: 40%;
  width: 100%;
  margin: 100px 0 0 350px ;
}

.ter17{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: center;
  margin: -350px -730px 0 0;
}

.ter18{
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: center;
  height: 40%;
  width: 100%;
  margin: -556px 0 0 -370px ;
}

.ter19{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: center;
  margin: -300px 0 0 -730px;
}

.ter20{
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  display: flex;
  justify-content: center;
  margin: 0 0 0 0;
}

.t6{
  position:absolute;
  left: 660px;
  top: 390px;
}  

.cardb_1{
  width: 700px;
  height:510px;
  padding:10px;
 
  background: white;
  
  border-radius:10px;
  box-shadow: inset 0 0 10px #796DBE, 2px 5px 10px #796DBE;
  box-sizing:border-box;
  margin: 13% 0% 0 100%;
}
.cb1{
  position:absolute;
  left: 900px;
  top: 400px;
}
.img_cb1{
  position:absolute;
  left:20px;
  top: 490px;
}

.cardbm{
  width: 700px;
  height:270px;
  padding:10px;
  margin:20px;
  background: white;
  float:left;
  border-radius:10px;
  box-shadow: inset 0 0 10px #796DBE, 2px 5px 10px #796DBE;
  box-sizing:border-box;
  margin: -2% 0 0 0;

}
.img_b {
  position:absolute;
  left: 830px;
  top: 98px;
}

.cardbm1{
  width: 697px;
  height:322px;
  padding:10px;

  background: white;

  border-radius:10px;
  box-shadow: inset 0 0 10px #796DBE, 2px 5px 10px #796DBE;
  box-sizing:border-box;
  margin: 38% 0% 0 99%;
}
.img_bb {
  position:absolute;
  left: 830px;
  top: 1070px;
}
.img_bm {
  position:absolute;
  left: 20px;
  top: 1500px;
}
.t7{
  position:absolute;
  left: 660px;
  top: 1450px;
}  

iframe{margin-left: 5%;}

.t8{
  position:absolute;
  left: 660px;
  top: 2280px;
}
.img_b10 {
  position:absolute;
  left: 20px;
  top: 2355px;
}
.img_b11 {
  position:absolute;
  left: 830px;
  top: 1998px;
}

.img_b12 {
  position:absolute;
  left: 830px;
  top: 2925px;
}
.img_b13 {
  position:absolute;
  left: 20px;
  top: 3308px;
}
.t9{
  position:absolute;
  left: 660px;
  top: 3240px;
}
.ull{
  text-align: center;
  position:absolute;
  left: 630px;
  top: 3720px;
}
.ull1{
  text-align: center;
  position:absolute;
  left: 630px;
  top: 3745px;
}
.ull2{
  text-align: center;
  position:absolute;
  left: 630px;
  top: 3770px;
}
.ull3{
  text-align: center;
  position:absolute;
  left: 630px;
  top: 3795px;
}
